.title {
   margin-bottom: 0;
}

.form-group {
   margin: 2px;
}

body {
   margin: 0;
   padding: 0;
   background-image: url("https://image.freepik.com/free-vector/abstract-wave-background-soft-design_41084-386.jpg");
   background-size: cover;
   background-repeat: no-repeat;
}